@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-family: "Ubuntu";
}
/* ====== Header / Nav ====== */
header {
  background-color: #2e948a;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
#header {
  max-width: 90%;
  margin: 0 auto;
  height: 117px;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
#nav > li {
  margin-left: 37px;
}
#nav > li a {
  text-decoration: none;
  color: #fdfdfd;
  height: 23px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
}
#formulario {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 150px auto 300px auto;
  color: #686868;
}
#formulario div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ff4081;
  width: 50%;
  margin-left: 15px;
}
#formulario h1 {
  margin-left: 20px;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
}
#formulario form * {
  margin: 10px 0;
  padding: 10px;
}

#formulario form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  padding: 20px;
}
#formulario button {
  color: #fff;
  border-radius: 50px;
  background-color: #ff4081;
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

#formulario textarea {
  height: 100px;
}

#formulario input,
textarea {
  border: 1px solid #686868;
  border-radius: 7px;
  width: 100%;
}
#img-form {
  max-width: 444px;
  height: 444px;
}
/* ====== Footer ====== */
footer {
  background-color: #419488;
  height: 207px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
}
#footer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  padding: 2%;
}

div#nav_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#nav_footer li,
a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
}

div#links_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 289px;
}
button.btn-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 10px 41px;
  border-radius: 62px;
  border-style: solid;
  border-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 5px;
}
/* ====== Responsividade ====== */

@media screen and (max-width: 1200px) {
  #formulario {
    width: 100%;
    flex-direction: column;
  }
  #formulario div {
    width: 80%;
  }
}
@media screen and (max-width: 940px) {
  div#links_footer {
    display: none;
  }
  #img-form {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 668px) {
  #nav > li {
    margin: 0 auto;
  }
  #nav {
    flex-direction: column;
  }
  #img-form {
    width: 350px;
    height: 350px;
  }
  #formulario div {
    width: 100%;
  }
}

@media screen and (max-width: 468px) {
  div#nav_footer {
    display: none;
  }
  #img-form {
    width: 300px;
    height: 300px;
  }
}
