@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-family: "Ubuntu";
}
/* ====== Header / Nav ====== */
header {
  background-color: #2e948a;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
#header {
  max-width: 90%;
  margin: 0 auto;
  height: 117px;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
#nav > li {
  margin-left: 37px;
}
#nav > li a {
  text-decoration: none;
  color: #fdfdfd;
  height: 23px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
}
#title-cursos {
  text-align: flex-start;
  font-size: 60px;
  color: #ff4081;
  margin: 81px auto 0 82px;
}
#sub_title {
  max-width: 1270px;
  font-size: 20px;
  font-weight: 400;
  color: #555555;
  margin-left: 82px;
}
.investimento h2 {
  width: 100%;
  height: auto;
  font-size: 35px;
  color: #ff4081;
  /* margin-bottom: 37px; */
}
.investimento p {
  width: 98%;
  height: auto;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  /* margin-bottom: 53px; */
}
#btn-cursos {
  padding: 15px 20px;
  width: 233px;
  height: 51px;
  text-align: center;
  background: #419488;
  color: #ffffff;
  border-radius: 62px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
  padding: 100px 100px;
}
.container img {
  width: 31%;
  height: auto;
}
.investimento {
  max-width: 60%;
  height: 286px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
}
hr {
  margin: 0 auto;
  width: 90%;
  height: 5px;
  background: #c4c4c4;
}

/* ====== Footer ====== */
footer {
  background-color: #419488;
  height: 207px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
}
#footer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  padding: 2%;
}

div#nav_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#nav_footer li,
a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
}

div#links_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 289px;
}
button.btn-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 10px 41px;
  border-radius: 62px;
  border-style: solid;
  border-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 5px;
}
/* ====== Responsividade ====== */

@media screen and (max-width: 1000px) {
  .investimento {
    height: auto;
  }
  button#btn-cursos {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
  }
  .container {
    gap: 53px;
    padding: 50px 50px;
  }
}
@media screen and (max-width: 940px) {
  div#links_footer {
    display: none;
  }
  .investimento {
    gap: 20px;
  }
}
@media screen and (max-width: 668px) {
  #nav > li {
    margin: 0 auto;
  }
  #nav {
    flex-direction: column;
  }
  .container {
    flex-wrap: wrap;
    gap: 20px;
    padding: auto auto;
  }
  .container img {
    width: 380px;
  }
  .investimento {
    max-width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  button#btn-cursos {
    align-self: center;
  }
}

@media screen and (max-width: 468px) {
  div#nav_footer {
    display: none;
  }
  #nav {
    row-gap: 5px;
  }
  .container {
    padding: 10px 10px;
  }
  #sub_title {
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    color: #555555;
    margin-left: 20px;
  }
  .investimento h2 {
    width: 100%;
    font-size: 28px;
    margin: 2%;
  }
  #title-cursos {
    margin: 3%;
  }
  p {
    text-align: center;
  }
}
