@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-family: "Ubuntu";
}
/* ====== Header / Nav ====== */
header {
  background-color: #2e948a;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
#header {
  max-width: 90%;
  margin: 0 auto;
  height: 117px;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
#nav > li {
  margin-left: 37px;
}
#nav > li a {
  text-decoration: none;
  color: #fdfdfd;
  height: 23px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
}
/* ====== Sessão Investimento ====== */
section#investimento {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
}
div#investimento_iniciante {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  /* text-align: start; */
  align-items: center;
  justify-content: center;
  width: 50%;
}
#investimento_iniciante h1 {
  max-width: 70%;
  font-size: 55px;
  color: #ff4081;
  margin-bottom: 2%;
}
#investimento_iniciante p {
  max-width: 70%;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  padding-left: 1%;
}
/* ====== Aulas ====== */
section#aulas {
  background-color: #f7f7f7;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
iframe {
  background-image: url(./dindin-imagens/inframe.png);
  background-color: #000000;
  width: 462px;
  height: 261px;
  margin: 0 auto;
  border: 3px solid #8e8e8e;
}

div.aula {
  max-width: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 76px; */
  /* padding: 73px 0; */
}
.conteudo_aulas {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
}
/*  ====== Texto / conteudo / aulas ====== */
.conteudo_aulas h2 {
  font-size: 35px;
  font-weight: 700;
  color: #ff4081;
  padding-bottom: 26px;
  /* align-content: center; */
}
.conteudo_aulas p {
  /* width: 80%; */
  font-size: 20px;
  font-weight: 300;
  color: #000000;
}
hr {
  margin: 0 auto;
  width: 80%;
  height: 5px;
  background: #c4c4c4;
}

/* ====== Footer ====== */
footer {
  background-color: #419488;
  height: 207px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
}
#footer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  padding: 2%;
}

div#nav_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#nav_footer li,
a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
}

div#links_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 289px;
}
button.btn-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 10px 41px;
  border-radius: 62px;
  border-style: solid;
  border-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 5px;
}

/* ====== Responsividade ====== */

@media screen and (max-width: 1200px) {
  section#investimento {
    gap: 10px;
  }
  div#investimento_iniciante {
    width: 100%;
  }
  .conteudo_aulas h2,
  p {
    padding-left: 2%;
  }
}
@media screen and (max-width: 900px) {
}
.conteudo_aulas {
  width: 53%;
}
.conteudo_aulas h2 {
  /* padding: 2%; */
  /* text-align: center; */
}
div.aula {
  padding: 5%;
}
div#links_footer {
  display: none;
}
@media screen and (max-width: 668px) {
  #nav > li {
    margin: 0 auto;
  }
  #nav {
    flex-direction: column;
  }
  .conteudo_aulas {
    width: 100%;
  }
  div#investimento_iniciante h1 {
    max-width: 100%;
    padding: 2%;
  }
  div#investimento_iniciante p {
    max-width: 100%;
  }
}

@media screen and (max-width: 468px) {
  #nav {
    row-gap: 5px;
  }
  div#nav_footer {
    display: none;
  }
  #investimento img {
    width: 80%;
  }

  div.aula {
    padding: 5%;
  }
  p {
    padding-left: 2%;
    text-align: start;
  }
}
